---
import MainLayout from '../layouts/MainLayout.astro';
import type { PokemonListResponse } from '../interfaces/pokemon-list.response';
import PokemonCard from '../components/pokemons/PokemonCard.astro';

const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
const { results } = (await response.json()) as PokemonListResponse;
---

<MainLayout title="Pokemon | Home">
	<h1 class="text-3xl font-black">Pokemon List</h1>
	<hr class="mb-2"/>
	<section arial-label="Pokemon List" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4">
			{results.map(({name, url}) =>
				<PokemonCard name={name} url={url} />
			)}
	</section>
</MainLayout>
